@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      box-sizing: border-box;
  }
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;  
    font-size: 16px;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.btn--connect,
.btn--logOut,
.btn--menu {
    width: 25px;
    height: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 50%;
}
.btn--logIn{
    width: 26px;
    height: 19px;
}
.btn--connect{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%233E81EA'/%3E%3Cpath d='M9.12235 7.4436L9.09202 7.75283C8.99409 8.72469 8.88285 9.82694 9.33259 10.8068C9.47895 11.1267 9.70249 11.3981 9.89888 11.6387C10.1959 12.0006 10.3742 12.2374 10.3523 12.4706C10.3252 12.7612 9.95051 12.9916 9.61414 13.0826C9.40923 13.138 9.18835 13.1688 8.95417 13.2018C8.62791 13.2476 8.28994 13.295 7.94931 13.4142C6.76882 13.8288 5.9529 15.0828 6.05083 16.3303C6.07425 16.6236 6.32813 16.8386 6.62352 16.8194C6.91678 16.796 7.13552 16.54 7.11211 16.2473C7.05143 15.4777 7.57409 14.674 8.30218 14.418C8.54275 14.3339 8.81419 14.2961 9.1016 14.2551C9.35813 14.2195 9.62319 14.1822 9.8925 14.1093C10.7499 13.8767 11.346 13.2726 11.412 12.5695C11.4764 11.883 11.0581 11.3726 10.7223 10.9627C10.5509 10.7536 10.3891 10.5561 10.2997 10.3618C9.97074 9.64492 10.0623 8.7364 10.1512 7.85821L10.1826 7.54153C10.2757 6.54572 10.5791 5.90863 11.1369 5.53767C11.9299 5.01182 12.9954 4.9107 13.7304 5.29337C14.7954 5.84796 15.0254 7.31267 15.0296 8.44313L15.0318 8.66188C15.0387 9.32664 15.0456 10.0132 14.722 10.4949C14.6443 10.6104 14.5506 10.7227 14.4569 10.8366C14.1067 11.2618 13.6267 11.8436 13.8273 12.6499C13.9997 13.3423 14.6235 13.9464 15.3447 14.1189C15.5177 14.1599 15.6954 14.1961 15.8743 14.2317C16.44 14.3451 16.9739 14.4521 17.3544 14.7506C17.86 15.1482 17.9266 15.5804 18.0181 16.4431C18.0628 16.8663 18.0761 17.4257 18.058 17.9169L17.7493 17.9057C14.0397 17.7679 10.2033 17.6247 6.50323 17.828C6.20944 17.844 5.98483 18.0947 6.0008 18.3885C6.01677 18.6823 6.26958 18.9228 6.56124 18.8904C10.2129 18.6913 14.0237 18.8323 17.7094 18.9686L18.5354 18.9995C18.5424 19 18.5488 19 18.5557 19C18.8276 19 19.0576 18.7935 19.0847 18.521C19.1486 17.8818 19.1449 16.9812 19.0757 16.3314C18.9863 15.4835 18.8931 14.6069 18.0112 13.9145C17.4311 13.4589 16.7141 13.3152 16.0824 13.1891C15.9163 13.1555 15.7519 13.1231 15.5911 13.0847C15.3027 13.0156 14.9482 12.7505 14.8598 12.3944C14.7954 12.1352 14.9375 11.9271 15.2771 11.5152C15.3937 11.3741 15.5081 11.2342 15.6044 11.0899C16.1122 10.3342 16.1031 9.40169 16.0946 8.6523L16.093 8.44047C16.084 6.39776 15.4368 4.98414 14.2206 4.35079C13.1429 3.78928 11.6654 3.91063 10.5471 4.65203C9.7126 5.20768 9.24637 6.121 9.12235 7.4436Z' fill='white'/%3E%3C/svg%3E%0A");
}
.btn--logIn {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 26 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 9.81H24M24 9.81L16.19 2M24 9.81L16.19 17.62' stroke='%233E81EA' stroke-width='2.2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.btn--logOut {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%233E81EA'/%3E%3Cpath d='M16 9l-7.3 7.3M9 9l7.07 7.07' stroke='%23fff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}
.btn--menu {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12.5' cy='12.5' r='12.5' fill='%233E81EA'/%3E%3Cpath d='M8.2 12.6h8.6M8.2 16.6h8.6M8.2 8.6h8.6' stroke='%23fff' stroke-width='2.2' stroke-linecap='round'/%3E%3C/svg%3E");
    margin-right: 20px;
}
.btn--update svg,
.btn--complete svg,
.btn--remove svg {
    width: 24px;
    height: 24px;
}
.btn--complete svg{
    stroke: #4BC348;
}
.btn--remove svg{
    stroke: #E94C4C;
}
.btn--addRow svg {
    width: 35px;
    height: 35px;
}
.page {
    padding: 20px; 
}
.page_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    align-items: center;
}
.page_title {
    font-size: 1.5em;
}
@media screen and (max-width: 760px) {
    body {
        font-size: 14px;
    }
}