select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(...);/* Add custom arrow */
}
input:focus,
select:focus {
    outline: none;
}
.input {
    margin: 20px 0;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1em;
}
.input--margin{
    margin:0;
    padding-bottom: 0;
    color: #3E81EA;
    border-bottom: 1px solid #3E81EA;
}
input[type="text"]:disabled,
input[type="text"]:read-only {
    background-color: transparent;
    border-bottom-color: #a5a5a5;
    color: #a5a5a5;
}
.input::placeholder {
    color: #333;
}
.input--search {
    padding: 7px 10px;
    font-size: .9em;
    background-position: 95% 50%;
    padding-right: 30px;
    border: 1px solid #333;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L9.644 9.645' stroke='%23333' stroke-width='1.556' stroke-linecap='round'/%3E%3Cpath d='M10.422 5.678c0 2.716-2.169 4.9-4.822 4.9S.778 8.394.778 5.678c0-2.717 2.169-4.9 4.822-4.9s4.822 2.183 4.822 4.9z' stroke='%23333' stroke-width='1.556'/%3E%3C/svg%3E");
}
@media screen and (max-width: 760px) {
    .input--table {
        margin: 0;
    }
}
