.table {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
.operation {
    font-weight: 700;
}
.inprogress {
    color: #3E81EA;
}
.finished {
  color: #4BC348;
}
  tr td,
  tr th {
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: rgba(62,129,234,.1);
  }
  .white_row {
    background-color: #fff!important;
  }
  .text_right {
    text-align: right;
  }
  thead th{
      background-color: white;
  }
  @media screen and (max-width: 760px) {
    .table {
      border-collapse: collapse;
      border-spacing: 20px 0;
    }
    .page_title {
      background-color: rgba(62,129,234,.1);
      padding: 10px;
    }
    td:before {
      font-size: 1em;
      color: black;
      font-weight: 700;
      position: absolute;
      transform: translateX(-100px);
    }
    th {
      display: none;
    }
    tr td {
      text-align: left;
      border: none;
      display: block;
    }
    tr td:first-child,
    tr td:last-child {
      border: none;
    }
    .Table:not(:first-child) tbody {
      background-color: #F4EFEF;
    }
    tr:not(:first-child):not(:last-child) {
      background-color: transparent!important;
      border-bottom: 1px solid #a5a5a5;
    }
  }